body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

.button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45aaf2;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form input[type="number"] {
  width: auto;
}

.movie-list {
  margin-top: 25px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #45aaf2;
}

.clear-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-button:hover {
  background-color: #d32f2f;
}

.movie-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.movie-info {
  flex: 1;
  padding-right: 10px;
}

.movie-info h4 {
  margin: 0;
}

/* .movie-info p {
  margin: 0;
  color: #777;
} */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #61dafb;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #45aaf2;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .form input,
  .button {
    width: 100%;
  }

  .movie-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .movie-info {
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-button,
  .clear-button {
    width: 100%;
    margin-left: 0;
  }
}

